$bg-color: #273544;
$body-color: #fff;
$gold: #C5A41D;
$gray: #BABFC5;
$blue: #12789B;
$input-color: #3A495A;

// Breakpoints
$desktop: 1140px; //http://www.1140px.com/
$tablet: 768px;

// Fonts
$font-family-text: 'Roboto', sans-serif;
$font-family-heading: 'Roboto Condensed', sans-serif;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: $font-family-text;
}

body {
  background: $bg-color url('assets/hd_coming.jpg') no-repeat center center;
	color: #fff;
}

.logo {
  width: 50%;
  padding-bottom: 140px;

  @media (min-width: $tablet) {
    width: auto;
    padding-bottom: 0px;
  }
}

//
// Typography
//

%body-light {
  font-weight: 100;
}


%body-medium {
  font-weight: 500;
}

%heading-light {
  font-family: $font-family-heading;
  font-weight: 300;
}

%heading-bold {
  font-family: $font-family-heading;
  font-weight: 700;
}

//
// Layout
//

.container {
	width: 100%;
  min-height: 100%;
	margin: auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  padding: 25px 0 25px;

  @media (min-height: 800px){
    padding: 50px 0 25px;
  }
}

.wrapper {
    width: 90%;
    margin: 0 5%;

    @media screen and (min-width: 1140px) {
      width: 1026px; /* 1140px - 10% for margins */
      margin: 0 auto;
    }
}

.is--hidden {
	position: absolute;
	visibility: hidden;
}

.l--vCenter {
  display: inline-block;
  vertical-align: center;
}

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
}
//
// Header
//

.header {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: table;
}

.header__inner {
}

.countdown {
  @extend %clearfix;

  list-style: none;
  padding: 0;
  margin: 0;

  float: right;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: none;

  li {
    float: right;
  }
}

.countdown__value {
  @extend %heading-bold;
  font-size: 50px;
}

.countdown__key {
  @extend %heading-light;
  font-size: 16px;
}

//
// Hero
//

.main {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main--content {
  justify-content: flex-start;
}

.teaser {
  @extend %heading-bold;
  font-size: 20px;

  @media (min-width: $tablet ){
    font-size: 3vw;
  }

  @media (min-width: $desktop){
    font-size: 35px;
  }
}

.hero-text {
  @extend %heading-light;
  font-size: 35px;
  line-height: 35px;

  text-transform: capitalize;
  margin: 0;


  @media (min-width: $tablet ){
    font-size: 8vw;
    line-height: 8vw;
  }

  @media (min-width: $desktop ){
    font-size: 90px;
    line-height: 85px;
  }
}


//
// Form
//

.emailForm {
  @extend %clearfix;
  margin-top: 30px;
  position: relative;

  @media (min-width: $tablet){
    margin-top: 40px;
  }
}

.input__wrapper {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: #fff;
  float: left;
  width: 100%;

  @extend %body-light;
  font-size: 20px;
  color: $input-color;

  border-radius: 4px;
  margin-bottom: 15px;

  @media (min-width: 992px) {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 380px;
    margin-right: 10px;
  }
}

.input {
  background-color: transparent;
  line-height: normal;
  height: 50px;
  padding-left: 2em;
  float: right;
  border: none;
  width: 100%;
  outline: none;

  @media (min-width: $tablet){
    height: 75px;
  }
}

.input::placeholder {
  color: transparent;
}

.input__label {
  position: absolute;
  top: 0;
  line-height: 50px;
  width: 100%;
  text-align: left;
  overflow: hidden;

  @media (min-width: $tablet){
    line-height: 75px;
  }
}


.input__label-icon {
  display: inline-block;
  transform: translate3d(-2em, 0, 0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  text-align: center;
  width: 1.5em;
  background: $blue;
  color: #FFF;
  border-radius: 4px 0 0 4px;


  .input--filled + .input__label &,
  .input:focus + .input__label & {
    transform: translate3d(0, 0, 0);
  }
}

.input__label-content {
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  .input--filled + .input__label &,
  .input:focus + .input__label & {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
}

.formErrors {
  @extend %body-light;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  opacity: 0;

  position: absolute;
  left: 0;
  bottom: 100%;

  .form--error & {
    opacity: 1;
  }
}

.submitButton {
  height: 50px;
  position: relative;
  color: transparent;
  text-transform: uppercase;
  display: block;
  float: left;
  border: none;
  background: $blue;
  padding: 0 35px;
  overflow: hidden;
  outline: none;
  border-radius: 4px;

  width: 100%;

  @media (min-width: $tablet){
    height: 75px;
  }

  @media (min-width: 992px) {
    width: 49%;
  }

  @media (min-width: 1200px) {
    width: auto;
  }

  &:before,
  &:after {
    color: #FFF;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1px;
    height: 1px;
    text-align: center;

    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  &:before {
    content: attr(data-before);

    .form--before--enter & {
      animation-name: emailSubmitEnter;
    }

    .form--after--enter & {
      animation-name: emailSubmitExit;
    }
  }

  &:after {
    content: attr(data-after);

    .form--after--enter & {
      animation-name: emailSubmitEnter;
    }

    .form--before--enter & {
      animation-name: emailSubmitExit;
    }
  }
}

@keyframes emailSubmitEnter {
  from { transform: translate3d(0, -75px, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1;}
}

@keyframes emailSubmitExit {
  from { transform: translate3d(0, 0, 0); opacity: 1; }
  to { transform: translate3d(0, 75px, 0); opacity: 0;}
}

//
// Body
//

.article__heading {
  @extend %heading-light;
  color: $gold;
  font-size: 35px;
  line-height: 1em;
  margin: 20px 0;

  @media (min-width: $tablet) {
    margin: 0;
    font-size: 40px;
  }
}

.article__body {
  @extend %body-light;
  font-size: 18px;
  line-height: 24px;
  margin: 6px 0 25px;
}

.tagline {
  @extend %body-medium;
  font-size: 20px;
}

//
// Footer
//

.footer {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.contact__heading {
  @extend %body-medium;
  font-size: 16px;
  color: $gray;
  margin: 0;

  @media (min-width: $tablet){
    float: left;
  }
}

.contact__text {
  @extend %body-light;
  font-size: 16px;
  color: $gray;

  div,
  a {
    margin: 10px 0;
    @media (min-width: $tablet){
      margin: 0 10px;
      float: left;
      display: inline-block;
    }
  }

  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease-in;
  }

  a:hover {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.8);;
  }
}

.contact__break {
  @media (max-width: 1150px) {
    display: block;
    width: 0px;
    height: 0px;
    visibility: hidden;
    float: none;
  }
}

.contact__numbers a {
  @media (max-width: 1150px) {
    display: block;
    float: none;
  }
}
